<%= form_for(@monster) do |f| %>
  <% if @monster.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@monster.errors.count, "error") %> prohibited this monster from being saved:</h2>

      <ul>
      <% @monster.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.label :name %>
    <%= f.text_field :name %>
    <%= f.label :power %>
    <%= f.text_field :power %>
    <%= f.label :monster_type %>
    <%= f.select :monster_type, options_for_select(Monster::TYPES.to_a) %>
    <%= f.label :team %>
    <%= select_tag "monster[team_ids]", options_from_collection_for_select(@teams, 'id', 'name', @monster.teams.map{|t| t.id}), { :multiple => true, :size => 6 } %>
    <%= f.submit %>
  </div>
<% end %>
