<p id="notice"><%= notice %></p>
<p>Name: <%= @monster.name %></p>
<p>Power: <%= @monster.power %></p>
<p>Type: <%= @monster.monster_type %></p>
<p>Teams: <%= @monster.teams.pluck(:name).join(', ')  if @monster.teams.present? %></p>

<%= link_to 'Edit', edit_monster_path(@monster) %> |
<%= link_to 'Back', monsters_path %>
