<% if current_user.nil? %>
  <%= link_to "Sign in with Facebook", user_omniauth_authorize_path(:facebook) %>
<% else %>
  <p><%= current_user.name %></p>
  <p><%= link_to "Monsters", monsters_path %></p>
  <p><%= link_to "Teams", teams_path %></p>
<% end %>