<!DOCTYPE html>
<html>
<head>
  <title>MonsterApi</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<% if current_user %>
  <%= link_to "Home", root_path%>
<% end %>
  <%= yield %>

</body>
</html>
